[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
openai = "*"
pygithub = "*"
prompt-toolkit = "*"
inquirerpy = "*"

[dev-packages]
flake8 = "*"
twine = "*"

[requires]
python_version = "3.7"
