name: Pull request workflow

on:
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11, 3.12, 3.13]

    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pipenv
      run: |
        python -m pip install --upgrade pip
        pip install pipenv

    - name: Update Python version in Pipfile
      run: |
        sed -i "s/python-version = \".*\"/python-version = \"${{ matrix.python-version }}\"/" Pipfile

    - name: Install dependencies using pipenv
      run: pipenv install --dev

    - name: Run Flake8 using pipenv
      run: pipenv run flake8 .

  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11, 3.12, 3.13]

    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pipenv
      run: |
        python -m pip install --upgrade pip
        pip install pipenv

    - name: Update Python version in Pipfile
      run: |
        sed -i "s/python-version = \".*\"/python-version = \"${{ matrix.python-version }}\"/" Pipfile

    - name: Install dependencies using pipenv
      run: pipenv install --dev

    - name: Run pytest using pipenv
      run: pipenv run pytest
