name: Release Workflow

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install necessary packages for make
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Install poetry and build packages
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install project dependencies
        run: poetry install

      - name: Set up PyPI Token
        run: echo "pypi_token=${{ secrets.PYPI_TOKEN }}" >> $GITHUB_ENV

      - name: "Determine VERSION from tag"
        id: "version"
        run: |
          echo "value=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Set version from Git tag
        env:
          VERSION: ${{ steps.version.outputs.value }}
        run: |
          poetry version "$VERSION"

      - name: Run make publish
        env:
          TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          poetry config pypi-token.pypi "$TOKEN"
          make publish
